@page "/"

@using BlazorMedCalculator.Web.Services.Search
@using BlazorMedCalculator.Web.Models

<h1>Medical Calculator Categories</h1>

<div class="calculator-grid">
    @foreach (var category in CalculatorCategoryRegistry.All)
    {
        <NavLink class="calc-card" href="@category.Url">
            <div class="calc-title">@category.Title</div>
            <div class="calc-desc">@category.Description</div>
        </NavLink>
    }
</div>
